@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

div {
  transition: all 300ms ease-in-out;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  background-color: rgba(255,102,0,0.5);
  opacity: 0.5;
}

.up-arrow {
  border-left: 98.7vw solid transparent;
  /* border-right: 50px solid transparent; */

  border-bottom: 8rem solid white;

  bottom: 0;
/* 
  margin: 2rem; */
}

#active {
  height: 0.5px;
}